<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
  <h1></h1> Places you've been city Details: </h1>

  <h2>@Model["place"].CityName</h2>
  <h3>State: @Model["state"].Name</h3>

  <a href='/states/@Model["state"].Id/places/new'>Add another city</a>
  <a href='/states'>View all states</a>
  
  </body>
</html>